.about {
  max-width: 670px;
}

.about__title {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 32px;
}

.about__text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0%;
  margin: 0 0 20px 0;
}

.about__new-deck-schema {
  background-color: #1a1a1acc;
  border-radius: 8px;
  color: white;
  padding: 10px 12px;
  margin: 0;
}
