.gallery__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0 auto 40px;
}

.gallery__list_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__list_wrapper_display_contents {
  display: contents;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.gallery__new-gallery-btn {
  width: 325px;
  height: 205px;
  border-radius: 20px;
  padding: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  background-color: #d9d9d9;
  display: flex;
  cursor: pointer;
  border: none;
}

.gallery__new-gallery-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}