.header {
  /* padding-top: 10px; */
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -0.24px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link:visited {
  color: inherit;
}
